<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.team2.finalproject.mapper.BasketMapper">
 	 	<select id="getUserBasketByUserNo" 
 	 	resultType="com.team2.finalproject.dto.product.BasketDto">
 	 		SELECT
 	 			basket_no,
 	 			product_code,
 	 			user_no,
 	 			product_quantity,
 	 			delivery_charge,
 	 			price_sum
 	 		FROM basket
 	 		WHERE user_no = #{userNo}
 	 	</select>
 	 	
 	 	<delete id="deleteBasketNo">
 	 		DELETE FROM basket
 	 		WHERE basket_no = #{basketNo}
 	 	</delete>
 	 	
 	 	<insert id="addToBasket" parameterType="com.team2.finalproject.dto.product.BasketDto">
 	 		INSERT INTO basket
 	 		VALUES (
 	 		basket_no_seq.NEXTVAL,
 	 		#{productCode},
 	 		#{userNo},
 	 		#{quantity},
 	 		0,0
 	 		)
 	 	</insert>
 	 	
 	 	<update id="modifyQuantity" parameterType="com.team2.finalproject.dto.product.BasketDto">
 	 		UPDATE basket
 	 		SET
 	 		 product_quantity = #{quantity}
 	 		WHERE basket_no = #{basketNo}
 	 	
 	 	</update>
 </mapper>