<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.team2.finalproject.mapper.MainMapper">
   
   
   	<!-- getProduct -->
	<select id="getAllProduct" 
			resultType="com.team2.finalproject.dto.product.ProductDto">
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
	</select>
   
 	<!-- getNoticeByPagination -->
	<select id="getProductByPagination"
			parameterType="com.team2.finalproject.dto.pagination.PageRequestDto" 
			resultType="com.team2.finalproject.dto.product.ProductDto">
		<![CDATA[
			SELECT product_code, category_code, name, content, price, stock, rdate 
			FROM (  SELECT product_code, category_code, name, content, price, stock, rdate, rownum rn
			        FROM product
			        WHERE rownum <= #{pageNum} * #{amount})
			WHERE rn > (#{pageNum} - 1) *  #{amount}
		]]>
	</select>
	
	<!-- getTotalCount -->
	<select id="getTotalCount"
			parameterType="com.team2.finalproject.dto.pagination.PageRequestDto" 
			resultType="_int">
		SELECT COUNT(product_code)
		FROM product
	</select>
	
	<!-- getProductByProductCode -->
	<select id="getProductByProductCode"
			resultType="com.team2.finalproject.dto.product.ProductDto">
			
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
		WHERE product_code = #{product_code}
	</select>
	
	<!-- getProductByCategoryCode -->
	<select id="getProductByCategoryCode" 
			parameterType="com.team2.finalproject.dto.product.CategoryDto"
			resultType="com.team2.finalproject.dto.product.ProductDto">
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
		WHERE category_code = #{categoryCode}
	</select>
	
	<!-- getCategoryTotalCount -->
	<select id="getCategoryTotalCount"
			parameterType="com.team2.finalproject.dto.pagination.PageRequestDto" 
			resultType="_int">
		
		SELECT COUNT(product_code)
		FROM product
		WHERE category_code = #{categoryCode}
	</select>
   <!--getProductByCategoryCodeWithPagination -->
   <select id="getProductByCategoryCodeWithPagination"
   		   parameterType="com.team2.finalproject.dto.pagination.PageRequestDto"
   		   resultType="com.team2.finalproject.dto.product.ProductDto">
  		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM (
				SELECT product_code, category_code, name, content, price, stock, rdate ,rownum rn
				FROM (
					SELECT product_code, category_code, name, content, price, stock, rdate 
					FROM product
			        WHERE category_code = #{categoryCode})
			        <![CDATA[
			        WHERE rownum <= #{pageNum} * #{amount}
			     ]]>
			)<![CDATA[
			WHERE rn > (#{pageNum} - 1) *  #{amount}
			]]>
   </select>
   
         <!-- getProductByRecentList -->
   <select id="getProductByRecentList" 
			resultType="com.team2.finalproject.dto.product.ProductDto">
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
		ORDER BY product_code DESC
	</select>
   <!-- getProductByPriceList -->
   <select id="getProductByPriceList" 
			resultType="com.team2.finalproject.dto.product.ProductDto">
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
		ORDER BY price
	</select>
   
   <!-- getProductByPriceListDesc -->
   	<select id="getProductByPriceListDesc" 
			resultType="com.team2.finalproject.dto.product.ProductDto">
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
		ORDER BY price DESC
	</select>
	
   		<!--getProductByCategoryRecentList -->
	<select id="getProductByCategoryRecentList" 
			parameterType="com.team2.finalproject.dto.product.CategoryDto"
			resultType="com.team2.finalproject.dto.product.ProductDto">
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
		WHERE category_code = #{categoryCode}
		ORDER BY product_code DESC
	</select>
	
	<select id="getProductByCategoryPriceList" 
			parameterType="com.team2.finalproject.dto.product.CategoryDto"
			resultType="com.team2.finalproject.dto.product.ProductDto">
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
		WHERE category_code = #{categoryCode}
		ORDER BY price
	</select>
	
	<select id="getProductByCategoryPriceListDesc" 
			parameterType="com.team2.finalproject.dto.product.CategoryDto"
			resultType="com.team2.finalproject.dto.product.ProductDto">
		SELECT product_code, category_code, name, content, price, stock, rdate 
		FROM product
		WHERE category_code = #{categoryCode}
		ORDER BY price DESC
	</select>
   
   <!-- getReviewByProductCode -->
   <select id="getReviewByProductCode"
   		   parameterType="com.team2.finalproject.dto.product.ProductDto"
   		   resultType="com.team2.finalproject.dto.user.ReviewDto">
   		SELECT review_no, user_no, product_code, product_name, title, rate, purpose, agegroup, rdate, content
   		FROM REVIEW
   		WHERE product_code = #{productCode} 
   </select>
    </mapper>
   
  