<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.team2.finalproject.mapper.OrderMapper">
 
 	 	<insert id="insertOrder">
 	 		INSERT INTO orders
 	 			values(
 	 				order_no_seq.NEXTVAL,
 	 				#{userNo},
 	 			 	#{productQuantity},
 	 				#{usedPoint},
 	 				#{basicAddr},
 	 				#{detailAddr},
 	 				#{paymentMethod},
 	 				sysdate,
 	 				#{deliveryCharge},
 	 				#{price},
 	 				1
 	 			)
 	 	</insert>

 	 	<insert id="insertOrderDetail">
 	 		INSERT INTO order_detail
 	 			values(
 	 				order_detail_no_seq.NEXTVAL,
 	 				#{productCode},
 	 				#{orderNo},
 	 				(SELECT price
                     FROM product
                     WHERE product_code = #{productCode}),
 	 				#{productQuantity}
 	 			)
 	 	</insert>
 	 	
 		<select id="getMaxOrderNoByUserNo">
 			SELECT MAX(order_no)
 			FROM orders
 			WHERE user_no = #{userNo}
 		</select>
 	 	
 	 	
 	 	<select id="getOrderByUserNo" resultType="com.team2.finalproject.dto.order.OrderDto">
 	 		SELECT 
 	 			order_no,
 	 			user_no,
 	 			product_quantity,
 	 			used_point,
 	 			basic_addr,
 	 			detail_addr,
 	 			payment_method,
 	 			order_date,
 	 			delivery_charge,
 	 			price,
 	 			order_status
 			FROM orders
 			WHERE user_no = #{userNo}
 	 	</select>
 	 	
 	 	<select id="getOrderDetailByOrderNo" resultType="com.team2.finalproject.dto.order.OrderDetailDto">
 	 		SELECT 
 	 			order_detail_no,
 	 			product_code,
 	 			order_no,
 	 			order_detail_price,
 	 			order_detail_quantity
 	 		FROM order_detail
 	 		WHERE order_no = #{orderNo}
 	 			
 	 	</select>
 </mapper>