<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.team2.finalproject.mapper.ReviewMapper">
   
   	<select id="insertReview"
   			resultType="com.team2.finalproject.dto.user.ReviewDto">
   	INSERT INTO review(review_no, user_no, product_code, product_name, title, rate, purpose, agegroup, rdate, content)
   	VALUES(review_file_no_seq.NEXTVAL,
   		   #{userNo, javaType=java.lang.Integer, jdbcType=INTEGER},
   		   #{productCode, javaType=java.lang.Integer, jdbcType=INTEGER}, 
   		   #{productName, jdbcType=VARCHAR},
   		   #{title, jdbcType=VARCHAR},
   		   #{rate, javaType=java.lang.Integer, jdbcType=INTEGER}, 
   		   #{purpose, javaType=java.lang.Integer, jdbcType=INTEGER}, 
   		   #{agegroup, javaType=java.lang.Integer, jdbcType=INTEGER}, 
   		   sysdate, 
   		   #{content, jdbcType=VARCHAR})
   	</select>
   	
   <select id="getProductNameByProductCode">
  	 SELECT name
  	 FROM product
  	 WHERE product_code = #{productCode}
   </select>

   
   
   </mapper>